<launch>
	<node pkg="joy" type="joy_node" name="joy_node" />
	<node pkg="isc_joy" type="joystick_xbox360" name="joystick_xbox360"/>
	<param name="manual_control_speed_multiplier" value="1.0" />
	<param name="manual_control_turn_multiplier" value="0.5" />
    <!-- <param name="manual_control_enable_logging" value="true" /> -->
	<node pkg="isc_joy" type="manual_control" name="manual_control" output="screen"/>
	
	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim" output="screen">
        <remap from="turtle1/cmd_vel" to="manual_control" />
    </node>
</launch>
